.app{
  display:grid;
  place-items: center;
  height:100vh;
}

.app-body{
  display:flex;
  margin-top: -50px;
  height:85vh;
  width:90vw;
  background-color: #ededed;
  box-shadow: -1px 10px 20px -6px rgba(0,0,0,0.75);
}